.popup__close_pic {
    position: absolute;
    right: -8%;
    top: -5%;
    border: none;
    background-color: rgba(0, 0, 0, .0);
    
}


@media screen and (max-width: 655px) {
    .popup__close {
        right: -2%;
        top: -11%;
    }
}