.popup__close {
    position: absolute;
    right: -11%;
    top: -13%;
    border: none;
    background-color: rgba(0, 0, 0, .0);
}

.popup__close:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 655px) {
    .popup__close {
        right: -2%;
        top: -11%;
    }
}