.profile__add-button {
    align-self: flex-end;
    margin:  auto 0 auto auto;
    padding: 11px 63px;
    border: 2px solid #fff;
    border-radius: 1px;
    background-color: #000;
}

.profile__add-button:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 655px) {
    .profile__add-button {
        align-self: center;
        margin-right: auto;
        margin-top: 34px;
        min-width: 14px;
        max-width: 16px;
        padding: 13px 145px 13px 133px;
    }
}