.element {
    max-width: 282px;
    border-radius: 3%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 17px 20px 0;
}

.element:nth-child(3) {
    margin-right: 0;
}
.element:nth-child(6) {
    margin-right: 0;
}

@media screen and (max-width: 900px) {
    .element:nth-child(3) {
        margin-right: 17px;
    }
    .element:nth-child(6) {
        margin-right: 17px;
    }
}

@media screen and (max-width: 655px) {
    .element {
        margin: 0 auto 20px;
    }
    .element:nth-child(3) {
        margin-right: auto;
    }
    .element:nth-child(6) {
        margin-right: auto;
    }
    .element:nth-child(6) {
        margin-right: auto;
        margin-bottom: 0;
    }
}